In [4]:
# Topics
#     1. Integer
#     2. Floating Point
#     3. Boolean
#     4. String

In [5]:
# Number system

# Real Number (R)

#     - With decimal 
#         - Terminating | e.g. - 1.12 | Q = Rational
#         - Non-Terminating
#             - Repeating | e.g. - 1.121212121212 | Q = Rational
#             - Non-Repeating | e.g. - 3.14567 (pi), e etc. | T = Irrational

#     - Without decimal
#         - Integers | e.g. -12, -15, 0, 145644 | Z = Z-, 0, Z+ | Q = Rational
#             - Whole numbers | e.g. 0,1,2,3,4....  | Z+
#             - Negative integers | e.g. -1,-45 ... | Z-

### Number Systems

In [7]:
# Number systems in Python
    # 1. Decimal 
        # - Integer
        # - Floating Point
    # 2. Binary
    # 3. Octal
    # 4. Hexadecimal

### Decimal - > binary, octal and hexadecimal

In [8]:
# Decimal to Binary
# syntax : bin(decimal value)

In [9]:
bin(125)

'0b1111101'

In [12]:
# what if we don't want the 0b
format(125,'b')

'1111101'

In [10]:
# Decimal to Octal
# syntax : oct(decimal value)

In [11]:
oct(125)

'0o175'

In [13]:
# Decimal to hexadecimal
# syntax : hex(decimal value)

In [14]:
hex(255)

'0xff'

### Binary, hexadecimal and Octal - > Decimal

In [17]:
# Binary to Decimal
binary_value = '0b10010011'
base = 2

decimal_value = int(binary_value,base)
decimal_value

147

In [20]:
# Octal to Decimal
octal_value = '0o72'
base = 8

decimal_value = int(octal_value,base)
decimal_value

58

In [21]:
# Hex to Decimal
hex_value = '0xff'
base = 16

decimal_value = int(hex_value,base)
decimal_value

255

### Floating Point

In [22]:
1.73

1.73

In [23]:
1.73e5

173000.0

In [25]:
1.73e-2

0.0173

In [27]:
# Why the below is not 0 ?
0.1+0.2-0.3

5.551115123125783e-17

### Boolean

In [29]:
# represents either True or False
# All condition checks use boolean

In [30]:
name = "Sam"

if name == "Sam":
    print("Hello Sam !") # condition is checking to be true
else:
    print("Hello dude !")

Hello Sam !

### Variables

In [33]:
# label given to an object
# not a memory location like in C

# syntax : variable_name = object

# every data item = > object in python
# object = > data + properties + behavior
# object = > blueprint of class

In [34]:
x = 10
y = x # no new memory location is being created for y.

In [35]:
x

10

In [36]:
y

10

### String

In [31]:
# sequence of characters enclosed within single or double quotes

In [32]:
"Hello World"

'Hello World'

In [37]:
name = "Niladri"

In [38]:
name

'Niladri'

In [47]:
# Rules of using single and double quotes
    # when you need to use double quotes within the string, use single quotes outside
    # when you need to use single quotes within the string, use double quotes outside

In [39]:
# how to use single quotes within double quotes
statement = "The language 'Python' is named after Monty Python"
statement

"The language 'Python' is named after Monty Python"

In [43]:
# when and how to use escape
stmt = 'Hello ! "I am Niladri" How's is your mother?'
stmt

SyntaxError: unterminated string literal (detected at line 2) (3425541288.py, line 2)

In [44]:
stmt = 'Hello ! \"I am Niladri\" How\'s is your mother?'
stmt

'Hello ! "I am Niladri" How\'s is your mother?'

In [48]:
# Multi-line string
    # enclose within triple
        # - single or double quotes

In [53]:
multi_line_comment = '''This is a 
multiple lines
comment'''

In [54]:
multi_line_comment

'This is a \nmultiple lines\ncomment'

In [55]:
multi_line_comment = """This is a 
multiple lines
comment"""

In [56]:
multi_line_comment

'This is a \nmultiple lines\ncomment'