### Accessing String characters

In [1]:
word = "HELLO"

In [2]:
word[0]

'H'

In [3]:
word[1]

'E'

In [6]:
word = "HELLO"
index = 0
for char in word:
    print("Index : ",index," : ",char)
    index = index + 1

Index :  0  :  H
Index :  1  :  E
Index :  2  :  L
Index :  3  :  L
Index :  4  :  O

In [7]:
word[0:]

'HELLO'

### Accessing string from last

In [8]:
word = "HELLO"

In [9]:
word[-1]

'O'

In [10]:
word[-2]

'L'

In [19]:
word = "HELLO"
index = -1
for char in word:
    print("Index : ",index," : ",word[index])
    index = index - 1

Index :  -1  :  O
Index :  -2  :  L
Index :  -3  :  L
Index :  -4  :  E
Index :  -5  :  H

### Access substring of a string

In [21]:
# range of characters can be accessed using slicing
# syntax : variable [start_index : end_index - but not including) : step_size]

In [52]:
word = "HELLO"

In [18]:
word = "HELLO"
index = 0
for char in word:
    print("Index : ",index," : ",char)
    index = index + 1

Index :  0  :  H
Index :  1  :  E
Index :  2  :  L
Index :  3  :  L
Index :  4  :  O

In [17]:
word[1:4]

'ELL'

In [20]:
word[-4:-1]

'ELL'

In [53]:
# reverse a string
word[::-1]

'OLLEH'

### String Slicing

In [54]:
# Topics
# 1. String slicing
# 2. Slicing with third parameter
# 3. Negative third parameter
# 4. Reverse a string

In [ ]:
# 1. String slicing
# Def - technique used to access substring of a string

In [58]:
sentence  = "I am Niladri"

index = 0
for char in sentence:
    print("Index : ",index," : ",char)
    index = index + 1

Index :  0  :  I
Index :  1  :
Index :  2  :  a
Index :  3  :  m
Index :  4  :
Index :  5  :  N
Index :  6  :  i
Index :  7  :  l
Index :  8  :  a
Index :  9  :  d
Index :  10  :  r
Index :  11  :  i

In [59]:
sentence[0:8]

'I am Nil'

In [60]:
# 2. Slicing with third parameter
# Third parameter = step value
# by default => step value = 1
# if step value = n, no. of elements to skip = (n-1)

In [62]:
sentence[0:8:2]
# o/p = Ia i

'Ia i'

In [64]:
sentence[2:10:2]
# o/p = a ia

'a ia'

In [65]:
# Points to Note
# 1. eliminating first and second parameters is allowed
# 2. keeping first parameter and eliminating second parameter or vice versa is allowed

In [66]:
s = 'abc'*3
s

'abcabcabc'

In [68]:
# 1. eliminating first and second parameters is allowed
s[::3]
# o/p = aaa

'aaa'

In [69]:
# 2. keeping first parameter and eliminating second parameter or vice versa is allowed
s[1::3]

'bbb'

In [72]:
s[:5:3]

'aa'

In [73]:
# 3. Negative third parameter
    # the - ve sign indicates right to left direction
    # 1st param > 2nd param
    # stop point = 2nd param + 1
    # no. of elements to skip = abs( step value with -ve sign + 1 )

In [74]:
sentence  = "I am Niladri"

index = 0
for char in sentence:
    print("Index : ",index," : ",char)
    index = index + 1

Index :  0  :  I
Index :  1  :
Index :  2  :  a
Index :  3  :  m
Index :  4  :
Index :  5  :  N
Index :  6  :  i
Index :  7  :  l
Index :  8  :  a
Index :  9  :  d
Index :  10  :  r
Index :  11  :  i

In [ ]:
sentence[8::-2]

In [75]:
# Reverse a string
s = "Niladri"
s[::-1]

'irdaliN'

### String Operators

In [26]:
# 1. String concatenation operator (+)
# 2. String Repetition operator (*)

# 3. String Comparison operators
    # a. Equality ==
    # b. Not Equal !=
    # c. Greater than >
    # d. Greater than or Equal to >=
    # e. Less than <
    # f. Less than or equal to <=

# 9. Membership operators 
    # a. in operator
    # b. not in operator

# 10. Escape Sequence pperator (\)
# 11. String formatting operator

In [2]:
# 1. String concatenation (+)
# Concatenates two string
# binary operator that requires 2 operands

In [3]:
"I"+"am"+"Niladri"

'IamNiladri'

In [5]:
# 2. String Repetition (*)

# n = 3
# s = "Hello"

# n * s = s * n

# Note
# n > 0
# for n <= 0, it returns void

In [6]:
n = 3
s = "Hello"
n * s

'HelloHelloHello'

In [7]:
n = 0
s = "Hello"
n * s

''

In [8]:
n = -1
s = "Hello"
n * s

''

In [9]:
n = 1.5
s = "Hello"
n * s

TypeError: can't multiply sequence by non-int of type 'float'

In [16]:
# 3a. Equality ==
# def : returns true if 2 strings are equal or else false
# behind the scenes it compares the ASCII values

In [17]:
print("Hello" == "Hello")
print("Hello" == "hello")

True
False

In [18]:
# 3b. Not Equal !=
# def : returns true if 2 strings are not equal or else false

In [19]:
print("Hello" != "Hello")
print("Hello" != "hello")

False
True

In [21]:
# 3c. Greater than >
# 3d. Greater than or Equal to >=
# 3e. Less than <
# 3f. Less than or equal to <=

In [22]:
print("hello" > "Hello")
print("hEllo" < "hello")
print('a' >= 'a')
print('A' <= 'a')

True
True
True
True

In [25]:
# ASCII
# 1. Control characters [0-31,127]
# 2. Printable characters [32-126]
# 3. Extended ASCII [128-255]

In [30]:
# 9. Membership operators 
# these are binary operators that requires two operand to function
    # a. in operator 
        # => returns True if the first operand is contained within the second operand as a whole
    # b. not in operator
        # => returns True if the first operand is not contained within the second operand as a whole

In [31]:
'Nil' in 'Niladri'

True

In [32]:
'n' in 'Niladri'

False

In [33]:
'a' in 'Niladri'

True

In [34]:
'ar' in 'Niladri'

False

In [35]:
'ar' not in 'Niladri'

True

In [36]:
# 10. Escape Sequence pperator (\)
# Escape character (\) = used to insert a non-allowed character in a string
# syntax : \[non-allowed character]

In [37]:
# I am supposed to get error here
print("I am Niladri and I am from "India."")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4263054548.py, line 2)

In [38]:
print("I am Niladri and I am from \"India.\"")

I am Niladri and I am from "India."

In [39]:
# Some escape chacaters
# \n = newline
# \b = backspace
# \ooo = octal number
# \xhh = hexadecimal number
# \t = tab
# \\ = insert a backslash

In [40]:
print("I am Niladri and \nI am \x66rom \"Indi\141.\"")

I am Niladri and
I am from "India."

In [46]:
hex_val = "0x66"
decimal_val = int(hex_val,16)
print("decimal value : ",decimal_val," -- > ascii value corresponds to : ",chr(decimal_val))

decimal value :  102  -- > ascii value corresponds to :  f

In [48]:
oct_val = "0o141"
decimal_val = int(oct_val,8)
print("decimal value : ",decimal_val," -- > ascii value corresponds to : ",chr(decimal_val))

decimal value :  97  -- > ascii value corresponds to :  a

In [56]:
# 11. String formatting operator
# using string formatting operators, we can use external values within our string in a dynamic way
    # %d = int or decimal
    # %c = external character
    # %s = external string
    # %f = floating value

In [51]:
age = 44
print("My age is %d" %(age))

My age is 44

### String formatting

In [76]:
# What is string Interpolation ? 

# What is Interpolation ?
# insert (something of a different nature) -> something else

# String formatting == string interpolation

# [object] --> [string]
# - string
# - number

# Different Techniques
# a. % formatting
# b. str.format()
# c. f-string formatting

**%-formatting**

%s\
%f\
%d etc.

In [78]:
# % formatting - old technique

name = "Niladri"
"My name is %s" % name

'My name is Niladri'

In [80]:
# we can enter multiple variables

# Order is important

name = "Niladri"
city = "Kolkata"
"My name is %s and I live in %s" % (name,city)

'My name is Niladri and I live in Kolkata'

In [81]:
# we can use %d and %f as well

name = "Niladri"
age = 44
money = 56.78

"My name is %s and I am %d years old and I received %f amount" % (name,age,money)

'My name is Niladri and I am 44 years old and I received 56.780000 amount'

**str.format()**

The placeholders are replaced by curly braces

In [83]:
# use of placeholders

name = "Niladri"
city = "Kolkata"
"My name is {} and I live in {}".format(name,city)

'My name is Niladri and I live in Kolkata'

In [84]:
# referencing variables using index is possible

name = "Niladri"
city = "Kolkata"

"My name is {0} and I live in {1}".format(name,city) # name = 0, city = 1

'My name is Niladri and I live in Kolkata'

In [86]:
# showing i can shuffle the index. Not a meaningful sentence
"My name is {1} and I live in {0}".format(name,city) # name = 0, city = 1

'My name is Kolkata and I live in Niladri'

In [87]:
# To improve readability keywords can be used
n = "Niladri"
c = "Kolkata"
"My name is {name} and I live in {city}".format(name = n,city = c)

'My name is Niladri and I live in Kolkata'

**format specifiers**

In [88]:
"I got {0:f}% marks in English.".format(55.56)

# Here 
# 0 is the index of the value = > 55.56 
# f means express the value in float

'I got 55.560000% marks in English.'

In [89]:
"I got {0:f}% marks in English and {1:f} marks in Maths".format(55.56,90)

'I got 55.560000% marks in English and 90.000000 marks in Maths'

In [90]:
# Auto-convert integer to float
"I got {0:f}% marks in English.".format(55)

'I got 55.000000% marks in English.'

In [91]:
# str -> float is not possible. Error expected
"I got {0:f}% marks in English.".format('55')

ValueError: Unknown format code 'f' for object of type 'str'

In [92]:
# Limit floating point value to 2 decimals only
"I got {0:.2f}% marks in English.".format(55.567883)

'I got 55.57% marks in English.'

**string formatting - f-strings**

In [93]:
# syntax = f"string {object}"

In [95]:
name = "Niladri"
print(f"My name is {name}")

My name is Niladri

In [96]:
# call to method is possible
name = "Niladri"
print(f"My name is {name.upper()}")

My name is NILADRI

**Multi-line f-strings**

In [110]:
# approach 1

name = "Niladri"
age = 44
gender = "Male"

introduction =  f"My name is {name}\n"\
                f"My age is {age}\n"\
                f"I am a {gender}"

print(introduction)

My name is Niladri
My age is 44
I am a Male

In [111]:
# approach 1 - another way

name = "Niladri"
age = 44
gender = "Male"

introduction =  f"My name is {name}{chr(10)}"\
                f"My age is {age}{chr(10)}"\
                f"I am a {gender}"

print(introduction)

My name is Niladri
My age is 44
I am a Male

In [112]:
# approach 2 : using round brackets

name = "Niladri"
age = 44
gender = "Male"

introduction =  (f"My name is {name}\n"
                f"My age is {age}\n"
                f"I am a {gender}")

print(introduction)

My name is Niladri
My age is 44
I am a Male

In [114]:
# approach 3 : using triple brackets

# it retains the spaces and tabs and newlines that is present in the code

name = "Niladri"
age = 44
gender = "Male"

introduction =  f"""My name is {name}
                My age is {age}
                I am a {gender}"""

print(introduction)

My name is Niladri
                My age is 44
                I am a Male

__Output should be in curly braces__

In [115]:
x = 10
y = 20

print(f"The sum of x+y is {x+y}")

The sum of x+y is 30

In [116]:
# what if we want a curly brace outside of text = x+y
print(f"The sum of {{x+y}} is {x+y}")

The sum of {x+y} is 30

In [117]:
# what if we want a curly brace outside of the result 30
print(f"The sum of {{x+y}} is {{{x+y}}}")

The sum of {x+y} is {30}

### String Methods

In [119]:
# -------------------------------------------------
#             Commonly used string methods
# -------------------------------------------------

# capitalize()	Converts the first character to upper case  ***** >
# casefold()	Converts string into lower case
# center()	    Returns a centered string
# count()	    Returns the number of times a specified value occurs in a string  ***** >
# encode()	    Returns an encoded version of the string
# endswith()	Returns true if the string ends with the specified value
# expandtabs()	Sets the tab size of the string
# find()	    Searches the string for a specified value and returns the position of where it was found  ***** >
# format()	    Formats specified values in a string  ***** >
# format_map()	Formats specified values in a string
# index()	    Searches the string for a specified value and returns the position of where it was found  ***** >
# isalnum()	    Returns True if all characters in the string are alphanumeric  ***** >
# isalpha()	    Returns True if all characters in the string are in the alphabet  ***** >
# isascii()	    Returns True if all characters in the string are ascii characters
# isdecimal()	Returns True if all characters in the string are decimals  ***** >
# isdigit()	    Returns True if all characters in the string are digits
# isidentifier()	Returns True if the string is an identifier
# islower()	    Returns True if all characters in the string are lower case   ***** >
# isnumeric()	Returns True if all characters in the string are numeric  ***** >
# isprintable()	Returns True if all characters in the string are printable
# isspace()	    Returns True if all characters in the string are whitespaces
# istitle()	    Returns True if the string follows the rules of a title
# isupper()	    Returns True if all characters in the string are upper case  ***** >
# join()	    Converts the elements of an iterable into a string  ***** >
# ljust()	    Returns a left justified version of the string
# lower()	    Converts a string into lower case  ***** >
# lstrip()	    Returns a left trim version of the string  ***** >
# maketrans()	Returns a translation table to be used in translations
# partition()	Returns a tuple where the string is parted into three parts
# replace()	    Returns a string where a specified value is replaced with a specified value  ***** >
# rfind()	    Searches the string for a specified value and returns the last position of where it was found  ***** >
# rindex()	    Searches the string for a specified value and returns the last position of where it was found  ***** >
# rjust()	    Returns a right justified version of the string
# rpartition()	Returns a tuple where the string is parted into three parts
# rsplit()	    Splits the string at the specified separator, and returns a list  ***** >
# rstrip()	    Returns a right trim version of the string  ***** >
# split()	    Splits the string at the specified separator, and returns a list  ***** >
# splitlines()	Splits the string at line breaks and returns a list
# startswith()	Returns true if the string starts with the specified value
# strip()	    Returns a trimmed version of the string  ***** >
# swapcase()	Swaps cases, lower case becomes upper case and vice versa
# title()	    Converts the first character of each word to upper case  ***** >
# translate()	Returns a translated string
# upper()	    Converts a string into upper case  ***** >
# zfill()	    Fills the string with a specified number of 0 values at the beginning

**strip() method**

In [122]:
# Helps in remving leading and trailing whitespaces or any character specified.
"   Hello World   ".strip()

'Hello World'

In [124]:
# It can remove any leading & trailing characters
"####Hello World####".strip('#')

'Hello World'

In [125]:
# if it encounters failure, it will stop removing
" ###Hello World####".strip('#')

' ###Hello World'

In [127]:
# removes the characters based on it's existence
"Hello world".strip('ldoH') # output = 'ello wor'

'ello wor'

**lstrip() and rstrip()**

In [129]:
# lstrip()
"   Hello World   ".lstrip()

'Hello World   '

In [130]:
# lstrip()
"###Hello World####".lstrip('#')

'Hello World####'

In [131]:
# rstrip() will be similar but from right end

**Solve Problems**

In [138]:
" Solving problem is an art.  ".strip('. ') 
#o/p = 'Solving problem is an art'

'Solving problem is an art'

In [139]:
# nothing will be removed
" Solving problem is an art.  ".strip('') 
#o/p = ' Solving problem is an art.  '

' Solving problem is an art.  '

In [136]:
str = "I am Jaspreet  ."
str.lstrip('I am.') 
# o/p = 'Jaspreet  .'

'Jaspreet  .'

In [137]:
str = "I am Jaspreet  ."
str.rstrip('I am.') 
# o/p = 'I am Jaspreet'

'I am Jaspreet'

In [140]:
" My name is Jaspreet ".rstrip('my ')
# o/p = ' My name is Jaspreet'

' My name is Jaspreet'

**split()**

In [151]:
# Def : split a string into a list but starts with left
# syntax : string.split(separator,maxsplit) 
# defaults
    # - separator = ' '
    # - maxsplit = -1 [ no limit on the number of splits ]

In [144]:
str = "Hello!$I$am$Niladri"
str.split('$')

['Hello!', 'I', 'am', 'Niladri']

In [146]:
# 2 splits + rest of the string => will form one list
str = "Hello!$I$am$Niladri"
str.split('$',maxsplit=2)

['Hello!', 'I', 'am$Niladri']

In [148]:
# default split with whitespace and no limit
str = "Hello I am Niladri"
str.split()

['Hello', 'I', 'am', 'Niladri']

**rsplit()**

In [149]:
# def : will split from right
# syntax : str.rsplit(separator,maxsplit)
# defaults
    # - separator = ' '
    # - maxsplit = -1 [ no limit on the number of splits ]

In [150]:
str = "Hello!$I$am$Niladri"
str.rsplit('$',maxsplit=2)
# o/p = ["Hello!$I","am","Niladri"]

['Hello!$I', 'am', 'Niladri']

In [154]:
# HW problem
"Hello! I am Jaspreet".rsplit()
# o/p = ['Hello!','I','am','Jaspreet']

['Hello!', 'I', 'am', 'Jaspreet']

**join()**

In [ ]:
# def : used to join the elements of an iterable
    # an iterable is an object which is capable of returning its members one a time
    # e.g. : list, dictionary, tuple, set, string are iterables 
# syntax : separator.join(iterable)
# defaults : n/a

In [13]:
# string usage for join()
my_str = "Hello"
"-".join(my_str)

'H-e-l-l-o'

In [156]:
# list usage for join()
l1 = ['H','e','l','l','o']
"-".join(l1)

'H-e-l-l-o'

In [4]:
l2 = ['I', 'am', 'Rocky']
' '.join(l2)

'I am Rocky'

In [14]:
# dict usage for join()
d = {
    'name' : 'Adam',
    'country' : 'US'
}

# keys = name, country
# values = Adam, US

# joins only the keys
' and '.join(d)

'name and country'

In [12]:
# what if I want to join the values
d = {
    'name' : 'Adam',
    'country' : 'US'
}

joined_values = []

for val in d.values():
    joined_values.append(str(val))  # Convert the integer value to a string

"-".join(joined_values)

'Adam-US'

**replace()**

In [15]:
# def : replace a specified string with another string
# syntax : str.replace(oldString, newString, count)
# defaults

In [18]:
# replace all old strings with new string
s = "I love to eat strawberries strawberries strawberries"
s.replace("strawberries","mangoes")

'I love to eat mangoes mangoes mangoes'

In [19]:
# but it does not change the original string
s

'I love to eat strawberries strawberries strawberries'

In [21]:
# what if I want to replace 'strawberries' first 2 times
s.replace("strawberries","mangoes",2)

'I love to eat mangoes mangoes strawberries'

In [22]:
# HW problem 1
s = "Neso3Academy3is3the3best3Academy"
s.replace('3',' ')
# o/p = "Neso Academy is the best Academy"

'Neso Academy is the best Academy'

In [25]:
# HW problem 2
l = [1, 2]
# Question : how to join the two integers of the above list without any space between them ?
# joining the integers is not possible because join() works on string. this will work if the integers are converted into string
''.join(str(l))

'[1, 2]'

**upper()**

In [27]:
# def : convert all letters into UPPER case
# syntax : str.upper()
# defaults : n/a

In [28]:
my_str = "My name is Niladri"
my_str.upper()

'MY NAME IS NILADRI'

**lower()**

In [ ]:
# def : convert all letters into lower case
# syntax : str.lower()
# defaults : n/a

In [29]:
my_str = "My name is Niladri"
my_str.lower()

'my name is niladri'

**capitalize()**

In [31]:
# def : returns a string where the first character is uppercase and rest are lowercase
# syntax : str.capitalize()
# defaults : n/a

In [32]:
my_str = "My name is Niladri"
my_str.capitalize()

'My name is niladri'

In [35]:
# the first letter is missing. no capitalization effect. but rest all characters are lowered
my_str = "29 My name is Niladri"
my_str.capitalize()

'29 my name is niladri'

**isupper()**

In [40]:
# def : Returns True if all eligible characters are UPPERCASE, otherwise returns False
# syntax : str.isupper()
# defaults : n/a

In [37]:
my_str = "My name is Niladri"
my_str.isupper()

False

In [38]:
my_str = "MY NAME IS NILADRI"
my_str.isupper()

True

In [39]:
my_str = "--- NILADRI"
my_str.isupper()

True

**islower()**

In [41]:
# def : Returns True if all eligible characters are lowercase, otherwise returns False
# syntax : str.isupper()
# defaults : n/a

In [42]:
"HELLO FRIENDS".islower()

False

In [43]:
"my name is niladri".islower()

True

**isalpha()**

In [ ]:
# def : returns True if all chars are alphabets
# syntax : str.isalpha()
# defaults : n/a

In [44]:
"hello2".isalpha()

False

In [45]:
"Hello my name is Niladri".isalpha() # expected : False because of whitespace

False

In [46]:
"hellothere".isalpha() # expected : True

True

**isnumeric()**

In [47]:
# def : returns True for
    # - decimal [ 0-9 ]
    # - super / sub scripts
    # - fractions
    # - exponents
# syntax : str.isnumeric()
# defaults : n/a

In [54]:
print('012345'.isnumeric()) # Output = True
print('Python3'.isnumeric()) # Output = False
print('²3455'.isnumeric()) # Output = True - using superscript here
print('½123'.isnumeric())  # Output = True - using fraction here
print("2/4".isnumeric()) # Output = False - looks like fraction but it is not. Interprets as string
print("-3425".isnumeric()) # Output = False - looks like -ve number but it is getting treated as "-" hiphen

True
False
True
True
False
False

In [51]:
print('3.14'.isnumeric()) # Output = False. encountered a "."

False

**isdecimal()**

In [49]:
# def : returns True for
    # - decimal [ 0-9 ]
# syntax : str.isdecimal()
# defaults : n/a

In [50]:
print('½123'.isdecimal()) # Output = False
print('012345'.isnumeric()) # Output = True

False
True

**isalnum()**

In [55]:
# def : returns True if all characters are alpha-numeric
    # decimal [ 0-9 ]
    # alphabets [a-z and A-Z] 
# syntax : str.isalnum()
# defaults : n/a

In [56]:
"Jaspreet20".isalnum()

True

In [57]:
"22335353".isalnum()

True

In [58]:
"My name is Niladri".isalnum() # white space issue

False

**HW problem**

In [63]:
"sam2345@gmail.com".upper() 
# o/p = SAM2345@GMAIL.COM

'SAM2345@GMAIL.COM'

In [64]:
"sam2345@gmail.com".islower()
# o/p = True, eligible case sensitive characters are all lower

True

In [65]:
"sam2345@gmail.com".isalnum()
# o/p = False, because of @ and . character

False

In [66]:
"sam2345gmailcom".isalnum()

True

**title()**

In [ ]:
# def : initcap all letters
# syntax : str.title()
# defaults : n/a

In [1]:
str = "my name is niladri"
str.title()

'My Name Is Niladri'

**count()**

In [3]:
# def 
    # - Finds the number of occurrences of a substring in a given string
    # - if the substring is not found, -> returns 0
# syntax : str.count(sub,start,end)
# defaults : 
    # - sub = substring to be found, mandatory
    # - start = start index, optional
    # - end = end index, optional

In [5]:
"I love fruits, fruits make me healthy".count('fruits')

2

In [6]:
"I love fruits, fruits make me healthy".count('fruits',1,5)

0

In [8]:
"I love fruits, fruits make me healthy".count('fruits',1,13)

1

**find()**

In [9]:
# def 
    # Returns the index of the first occurrence of a substring in a given string
    # if the substring is not found, -> returns -1
# syntax : str.find(sub,start,end)
# defaults : 
    # - sub = substring to be found, mandatory
    # - start = start index, optional
    # - end = end index, optional

In [10]:
"Python is a beautiful language".find('beau')

12

In [11]:
"Python is a beautiful language".find(' ')

6

In [12]:
"Python is a beautiful language".find('nil')

-1

**rfind()**

In [13]:
# def 
    # Returns the index of the last occurrence of a substring in a given string
    # if the substring is not found, -> returns -1
# syntax : str.rfind(sub,start,end)
# defaults : 
    # - sub = substring to be found, mandatory
    # - start = start index, optional
    # - end = end index, optional

In [14]:
"Python is a beautiful language".rfind('e')

29

In [15]:
"Python is a beautiful language".rfind('e',1,5)

-1

**index()**

In [16]:
# def 
    # Returns the index of the first occurrence of a substring in a given string. Same like find()
    # if the substring is not found, -> returns ValueError exception, find() returns -1
# syntax : str.index(sub,start,end)
# defaults : 
    # - sub = substring to be found, mandatory
    # - start = start index, optional
    # - end = end index, optional

In [17]:
"Python is a beautiful language".index('b')

12

In [18]:
"Python is a beautiful language".index('b',1,5)

ValueError: substring not found

**rindex()**

In [19]:
# def 
    # Returns the index of the last occurrence of a substring in a given string. Same like rfind()
    # if the substring is not found, -> returns ValueError exception, rfind() returns -1
# syntax : str.rindex(sub,start,end)
# defaults : 
    # - sub = substring to be found, mandatory
    # - start = start index, optional
    # - end = end index, optional

In [20]:
"Python is a beautiful language".rindex('e')

29

In [21]:
"Python is a beautiful language".rindex('e',1,5)

ValueError: substring not found

In [23]:
# HW problems
"This is a string".rindex('i') # ans = 13

13

In [24]:
"sam2345@gmail.com".find('i') # ans = 11

11

In [25]:
"I love Python".index('p') # ans = ValueError exception

ValueError: substring not found

In [26]:
"I love Python".count('o') # ans = 2

2